<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaetter.motorcyclemaintenancelog"
    android:versionCode="16"
    android:versionName="1.82" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="13" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission   >

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kaetter.motorcyclemaintenancelog.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kaetter.motorcyclemaintenancelog.NewLog"
            android:label="@string/title_activity_new_log"
            android:parentActivityName="com.kaetter.motorcyclemaintenancelog.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaetter.motorcyclemaintenancelog.Main" />
        </activity>
        <activity
            android:name="com.kaetter.motorcyclemaintenancelog.NewRem"
            android:label="@string/title_activity_new_rem"
            android:parentActivityName="com.kaetter.motorcyclemaintenancelog.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaetter.motorcyclemaintenancelog.Main" />
        </activity>
        <activity
            android:name="com.kaetter.motorcyclemaintenancelog.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.kaetter.motorcyclemaintenancelog.Main"
            android:theme="@android:style/Theme.Black" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaetter.motorcyclemaintenancelog.Main" />
        </activity>
        <activity
            android:name="com.kaetter.motorcyclemaintenancelog.DeleteElem"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.kaetter.motorcyclemaintenancelog.Main"
            android:theme="@android:style/Theme.Black" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaetter.motorcyclemaintenancelog.Main" />
        </activity>
        <activity
            android:name="com.kaetter.motorcyclemaintenancelog.RefuelActivity"
            android:label="@string/title_activity_refuel"
            android:parentActivityName="com.kaetter.motorcyclemaintenancelog.Main"
            android:windowSoftInputMode="stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaetter.motorcyclemaintenancelog.Main" />
        </activity>
        <receiver
            android:name="RefuelWidgetProvider"
            android:icon="@drawable/fuel"
            android:label="Refuel Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/refuelwidget_info" />
        </receiver>
    </application>

</manifest>